
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

.container-external{
    max-width: 1240px;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

:root{
    --yellow: #F9B047;
    --naviblue: #1A1B35;
    --blue: #3664fb;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    float: left;
    padding-top: 22px;
}

.logo a{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: var(--naviblue);
}

.logo a span{
    margin-left: 5px;
    color: #3664fb;
}

.manubar{
    text-align: center;
}

.login-signup-btnWrapper{
    float: right;
    display: flex;
    margin-right: 8%;
    margin-top: -22px;
}

.manubar ul li{
    display: inline-block;
    margin-top: 3%;
}

.manubar ul li a{
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #505050a4;
    transition: all 0.3s ease-in-out;
}

.manubar ul li a:hover{
    color: #505050;
}

.loginBtn{
    margin-right: 3%;
}

.loginBtn button{
    border: none;
    background: none;
}

.loginBtn button a{
    color: var(--naviblue);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.signupBtn{
    margin-left: 30%;
    margin-top: -8px;
}

.signupBtn button{
    padding: 12px;
    width: 150%;
    border: none;
    border-radius: 7px;
    background: var(--naviblue);
}

.signupBtn button a{
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.home-left-content{
    float: left;
    margin-top: 20%;
    margin-left: -8%;
}

.home-right-content{
    float: right;
    margin-left: 8%;
    margin-top: 12%;
}

.home-right-content img{
    width: 110%;
}

.d-w-wrapper {
    float: left;
    margin-top: 42%;
    margin-left: -26%;
    display: flex;
}

.home-left-content h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.home-left-content h1 span{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.home-left-content h1 span strong{
    color: var(--blue);
    font-size: 35px;
    margin-left: 5px;
}

.home-left-content p{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #505050b0;
}

.downloadBtn {
    margin-left: -30%;
}

.downloadBtn button{
    padding: 15px;
    background: var(--yellow);
    border: none;
    border-radius: 7px;
    width: 130px;
    box-shadow: 3px 5px 20px 0px #f9a1478c;
}

.downloadBtn button a{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.wacthVideo {
    margin-left: 25%;
    margin-top: -5px;
    width: 176px;
}

.wacthVideo button{
    padding: 25px;
    background: rgb(234 241 250 / 62%);
    border: none;
    clip-path: circle();
}

.wacthVideo i{
    font-size: 16px;
    color: var(--blue);
}

.wacthVideo a{
    margin-left: 10px;
    color: rgba(42, 42, 42, 0.842);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.cItem-wrapper{
    display: flex;
}

.cItem img{
    width: 180px;
    margin-right: 12%;
    opacity: 0.1;
    transition: all 0.3s ease-in-out;
}

.cItem img:hover{
    opacity: 1;
}

.c-content h1{
    color: rgb(53, 53, 53);
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}

.main-content{
    display: flex;
    margin-top: 15%;
}

.m-right{
    margin-right: 15%;
}

.main-content i{
    margin-left: 26px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0089ff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    border-radius: 12px;
}

.main-content span {
    margin-left: 0px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: #3b3b3b;
}

.main-content p{
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.image {
    margin-top: 30%;
}

.scmc-right-content{
    float: right;
    margin-top: -51%;
}

.scmc-right-content p{
    text-align: justify;
    width: 400px;
    margin-top: 10%;
    line-height: 28px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #505050
}

.scmc-right-content h1{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 55px;
}

button.learn-moreBtn {
    margin-top: 40px;
    padding: 15px;
    width: 150px;
    border: none;
    background: var(--yellow);
    border-radius: 10px;
    box-shadow: 3px 5px 20px 0px #f9a1478c;
}

button.learn-moreBtn a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.organize-img img {
    margin-top: -30%;
}

.o-c h1{
    text-align: center;
    font-size: 45px;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.videoplayer i{
    background: rgb(99, 41, 235);
    padding: 30px;
    color: #fff;
    clip-path: circle();
}

.videoplayer {
    padding-top: 15%;
    text-align: center;
    margin-left: 13%;
}

.video-img-wrapper{
    margin-top: 25%;
}

.d-w-wrapper2{
    float: left;
    margin-top: 35%;
    margin-left: 10%;
    display: flex;
}

.downloadApp-main-content .images img{
    width: 63%;
    float: right;
}

.downloadApp-main-content {
    margin-top: 5%;
}

.downloadApp-main-content .images{
    margin-top: -23%;
}

.downloadApp-main-content h1{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.downloadApp-main-content h1 span strong{
    color: #3664fb;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: -5px;
}

.downloadApp-main-content h1 span{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.downloadApp-main-content p{
    margin-top: 3%;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #5f5f5fcc;
    line-height: 45px;
}

.bgcolor-wrapper{
    background: #f4f6fd8e;
    height: 65vh;
    border-radius: 20px;
    padding-left: 50px;
    margin-top: 20%;
}

.contact-section{
    background-image: url(./Images/levies.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70vh;
    margin-top: 30%;
}

.inputArea {
    margin-left: 25%;
    margin-top: -10%;
}

.inpurareaWrapper {
    background: #ffffff47;
    width: 60%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #7777771f;
}

.input-row-wrapper {
    margin-top: 10%;
    margin-left: 15%;
}

input[type="text"] {
    background: transparent;
    border: 1px solid #272727a4;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    width: 77%;
    margin-bottom: 5%;
    color: #272727;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.inpurareaWrapper h1 {
    text-align: center;
    padding-top: 10%;
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

::placeholder{
    color: #272727a4;
}

textarea{
    border-radius: 5px;
    background: transparent;
    border: 1px solid #272727a4;
    outline: none;
    color: #272727;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

input[type="button"] {
    margin-left: 25%;
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    background: var(--yellow);
    border: none;
    outline: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 8%;
}

.footer{
    margin-top: 3%;
    margin-bottom: 2%;
}

.apps21{
    float: left;
}

.apps21 a{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: var(--naviblue);
}

.apps21 a span{
    font-size: 35px;
    color: var(--blue);
    margin-left: -2px;
}

.copyright{
    text-align: center;
    padding-top: 1%;
    margin-right: 15%;
}

.copyright a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.copyright a strong{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: var(--naviblue);
}

.copyright a strong span{
    font-size: 27px;
    color: var(--blue);
    margin-left: 5px;
    font-weight: bold;
}


.social-link{
    float: right;
    margin-top: -45px;
    margin-right: -19px;
}

.social-link a i{
    font-size: 17px;
    margin-right: 20px;
}

.fab.fa-facebook-f{
    background: rgb(46, 106, 245);
    color: #fff;
    padding: 15px;
    clip-path: circle();
}

.fab.fa-twitter{
    background: rgb(37, 174, 253);
    color: #fff;
    padding: 13px;
    clip-path: circle();
}

.fab.fa-linkedin-in{
    background: rgb(0, 71, 163);
    color: #fff;
    padding: 13px;
    clip-path: circle();
}

.fab.fa-instagram{
    background: rgb(212, 1, 107);
    color: #fff;
    padding: 13px;
    clip-path: circle();
}